<header>
  <h1>Angular Testing</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam officia at vitae maiores amet saepe voluptatibus nesciunt. Ratione est eius velit molestiae cupiditate atque officiis quidem dolorum, assumenda tempore reiciendis.</p>
  <nav>
    <ul>
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/people">People</a></li>
      <li><a routerLink="/products">Products</a></li>
      <li><a href="/pico-preview">Pico Prebview</a></li>
      <li><a href="/other">other</a></li>
    </ul>
  </nav>
</header>

<router-outlet></router-outlet>


